<section class="newsletter-signup section">
  <div class="container">
    <h3 class="section-title">{{lang 'newsletter.subscribe'}}</h3>
    <h4 class="text-center">Receive $25 off your first purchase. *Minimum $500 order* </h4>
    <form class="form subscription-form" action="{{urls.subscribe.action}}" method="post" data-validated-form>
      <input type="hidden" name="action" value="subscribe">
      <input type="hidden" name="nl_first_name" value="bc">
      <input type="hidden" name="check" value="1">
      <div class="form-field form-inline">
        <label class="sr-only" for="nl_email">{{lang 'newsletter.email_placeholder'}}</label>
        <input class="form-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}" required>
      </div>
      <input class="button button-primary button-wide" type="submit" value="{{lang 'newsletter.submit'}}">
    </form>
  </div>
</section>
