{{!
  Quantity Widget with Increment/Decrement controls.

  @param product
         cart.item or product object
}}

<div class="quantity-control" data-quantity-control="{{id}}">
  <button class="button-control-action" data-quantity-control-action="decrement">
    <svg class="icon icon-minus"><use xlink:href="#icon-minus" /></svg>
  </button>
  <input
    class="form-input quantity-input"
    type="number"
    name="qty{{#if product_id}}-{{id}}{{else}}[]{{/if}}"
    pattern="[0-9]*"
    value="{{#if quantity}}{{quantity}}{{else}}{{#if min_purchase_quantity}}{{min_purchase_quantity}}{{else}}1{{/if}}{{/if}}"
    min="{{#if min_purchase_quantity}}{{min_purchase_quantity}}{{else}}0{{/if}}"
    max="{{max_purchase_quantity}}"
    data-quantity-control-input
  >
  <button class="button-control-action" data-quantity-control-action="increment">
    <svg class="icon icon-plus"><use xlink:href="#icon-plus" /></svg>
  </button>
</div>
