{{{snippet 'forms_search'}}}

<form class="search-form" action="/search.php" data-validated-form>
  <div class="form-field">
    <input style="height: 2.5rem;" class="search-input form-input form-input-short" name="search_query" placeholder="{{lang 'header.search'}}" required>
  </div>
  <button class="button-search-submit" type="submit">
    {{> svg/search}}
  </button>
</form>
