<style>
  #financing-banner {
    display: none;
  }
</style>

{{#partial "page"}}
  <header class="cart-header page-header">
    {{> components/common/breadcrumbs breadcrumbs}}
    <h1 class="cart-title page-title">
      {{lang 'cart.title'}}
    </h1>
  </header>

  <a style="width:100%;" ref="https://secure.quickspark.com/app.cfm?do=apply&vurl=qpyyb9t&vId=5289&frm=&skny=n&wsc=&appType=&ec=&vButton=&cartdata=pId~pn~"><img src="/product_images/uploaded_images/financing-banner.png?t=1489513704" style="display:block; margin: auto; max-width: 1170px;padding: 1rem;" alt="Financing"></a>

  <section class="product-listing section">
    <div class="container">
      {{#if cart.items}}
        <div data-cart-content>
          {{> components/cart/content}}
        </div>

        <div class="cart-totals" data-cart-totals>
          {{> components/cart/totals}}
        </div>

      {{else}}
        <div class="cart-empty">
          <h2>{{lang 'cart.empty'}}</h2>
          <a href="{{urls.home}}" class="button">{{lang 'cart.keep_shopping'}}</a>
        </div>
      {{/if}}

      {{{snippet 'cart'}}}
    </div>
  </section>
{{/partial}}
<script>
    jQuery(function() {
        jQuery('.open').on('click', function() {

            jQuery(this).next('.gameData').slideToggle('fast');
            jQuery('.gameData').not(jQuery(this).next('.gameData')).slideUp('fast');
        });
    });
</script>
{{> layout/base}}



