---
category:
  shop_by_price: true
  products:
    limit: {{theme_settings.product-count}}
---

{{#partial "page"}}
  {{#if category.image.data}}
    <figure class="category-banner banner-ratio-{{../theme_settings.product-banner-aspect-ratio}}">
      <div class="category-banner-image" style="background-image: url({{getImage category.image 'zoom'}});"></div>
      <img class="sr-only" src="{{getImage category.image 'zoom'}}" alt="{{{alt_text}}}" />
      {{#if category.description}}
        <div class="container">
          <figcaption class="category-banner-description">
            {{{category.description}}}
          </figcaption>
        </div>
      {{/if}}
    </figure>
  {{/if}}

  <section class="product-listing section">
    <div class="container" style="max-width: 95% !important;">
      {{{snippet 'categories'}}}

      <header class="listing-header">
        <h1 class="listing-title">{{category.name}}</h1>
        {{#if category.image.data '===' null}}
          {{#if category.description}}<div class="listing-description">{{{category.description}}}</div>{{/if}}
        {{/if}}
        {{> components/products/listing-utils}}
      </header>

      {{#unless theme_settings.collections-sidebar-hidden}}
        <aside class="listing-sidebar" data-category-sidebar>
          {{> components/category/sidebar}}
          {{> components/products/listing-utils}}
        </aside>
      {{/unless}}

      <div class="product-listing-grid" data-category {{#if category.show_compare}}data-product-compare{{/if}}>
        {{#if theme_settings.collections-view-mode '===' 'grid'}}
          {{> components/category/product-listing}}
        {{else}}
          {{> components/category/product-listing-list}}
        {{/if}}
      </div>
    </div>
  </section>
{{/partial}}

{{> layout/base}}

