---
carousel: true
products:
  new:
    limit: {{theme_settings.home-new-products}}
  featured:
    limit: {{theme_settings.home-featured-products}}
  top_sellers:
    limit: {{theme_settings.home-top-selling-products}}
brands: true
blog:
  recent_posts:
    limit: 3
    summary: {{theme_settings.home-blog-summary-length}}
---

{{#partial "page"}}

  {{#if carousel.slides.length}}
    {{> components/carousel }}
  {{/if}}



  {{{snippet 'home_content'}}}

<section class="section">
  <div class="container">
  <h3 class="section-title">Shop By Category</h3>
    <h4 class="text-center">Find exactly what you are looking for at a wholesale price</h4>
    <div class="category-image-home">
      <div class="overlay">
        <a href="https://www.foldingchairsandtables.com/folding-chairs/"><img src="/product_images/uploaded_images/folding-chairs-cat.jpg?t=1495031356&_ga=2.36638760.927010491.1495031120-1386423806.1493826917" alt="Wholesale Folding Chairs"></a>
        <a href="https://www.foldingchairsandtables.com/folding-chairs/"><h3>Folding Chairs</h3></a>
      </div>

      <div class="overlay">
        <a href="https://www.foldingchairsandtables.com/folding-tables/"><img src="/product_images/uploaded_images/folding-tables-cat.jpg?t=1495031359&_ga=2.110162957.927010491.1495031120-1386423806.1493826917" alt="Wholesale Folding Tables"></a>
        <a href="https://www.foldingchairsandtables.com/folding-tables/"><h3>Folding Tables</h3></a>
      </div>

      <div class="overlay">
        <a href="https://www.foldingchairsandtables.com/chiavari-chairs/"><img src="/product_images/uploaded_images/chiavari-chairs-cat.jpg?t=1495031353&_ga=2.110162957.927010491.1495031120-1386423806.1493826917" alt="Wholesale Chiavari Chairs"></a>
        <a href="https://www.foldingchairsandtables.com/chiavari-chairs/"><h3>Chiavari Chairs</h3></a>
      </div>

      <div class="overlay">
        <a href="https://www.foldingchairsandtables.com/stacking-chairs/"><img src="/product_images/uploaded_images/stack-chair-cat.jpg?t=1495031361&_ga=2.110162957.927010491.1495031120-1386423806.1493826917" alt="Stacking Chairs"></a>
        <a href="https://www.foldingchairsandtables.com/stacking-chairs/"><h3>Stack Chairs</h3></a>
      </div>
    </div>
    <div class="category-image-home">
      <div class="overlay">
        <a href="https://www.foldingchairsandtables.com/linens/"><img src="/product_images/uploaded_images/linens-cat.jpg?t=1495031360&_ga=2.8378170.927010491.1495031120-1386423806.1493826917" alt="Linens"></a>
        <a href="https://www.foldingchairsandtables.com/linens/"><h3>Linens</h3></a>
      </div>

      <div class="overlay">
        <a href="https://www.foldingchairsandtables.com/umbrellas/"><img src="/product_images/uploaded_images/umbrella-cat.jpg?t=1495031362&_ga=2.49810606.927010491.1495031120-1386423806.1493826917" alt="Commercial Umbrellas"></a>
        <a href="https://www.foldingchairsandtables.com/umbrellas/"><h3>Umbrellas</h3></a>
      </div>

      <div class="overlay">
        <a href="https://www.foldingchairsandtables.com/card-tables/"><img src="/product_images/uploaded_images/card-table-cat.jpg?t=1495031351&_ga=2.49810606.927010491.1495031120-1386423806.1493826917" alt="Card Tables"></a>
        <a href="https://www.foldingchairsandtables.com/card-tables/"><h3>Card Tables</h3></a>
      </div>

      <div class="overlay">
        <a href="https://www.foldingchairsandtables.com/high-top-cocktail-tables/"><img src="/product_images/uploaded_images/cocktail-table-cat.jpg?t=1495031354&_ga=2.74569626.927010491.1495031120-1386423806.1493826917" alt="High Top Cocktail Tables"></a>
        <a href="https://www.foldingchairsandtables.com/high-top-cocktail-tables/"><h3>Cocktail Tables</h3></a>
      </div>
    </div>
    <a href="/card-tables/"><img src="https://www.foldingchairsandtables.com/product_images/uploaded_images/xl-series-card-tables.jpg?t=1482359562" style="padding-top:3rem;"></a>

  </div>
</section>

  {{#if products.new}}
    <section class="products-new section">
      <h3 class="section-title">{{lang 'home.new_products'}}</h3>
      <div class="container">
        {{#each products.new}}
          {{> components/products/product-grid-item
            this
            show_rating=../settings.show_product_rating
            default_image=../theme_settings.default-product-image
            quick_shop=../theme_settings.quick-shop
            as_low_as=../theme_settings.price_as_low_as
          }}
        {{/each}}
      </div>
    </section>
  {{/if}}

  {{! Show tabs if both exist, else show single carousel grid}}
  {{#if products.featured}}
    {{#if products.top_sellers}}
      <section style="padding:0;" class="products-featured section">
        <div class="container">
          <ul class="tabs" data-tabs>
            <li class="tab-title"><a href="#featured-products">{{lang 'home.featured_products'}}</a></li>
            <li class="tab-title"><a href="#best-sellers">{{lang 'home.best_sellers'}}</a></li>
          </ul>
          <div class="tabs-content">
            <div class="tab-content-panel" id="featured-products">
              <div class="product-grid product-carousel">
                {{#each products.featured}}
                  {{> components/products/product-grid-item
                    this
                    show_rating=../settings.show_product_rating
                    default_image=../theme_settings.default-product-image
                    quick_shop=../theme_settings.quick-shop
                    as_low_as=../theme_settings.price_as_low_as
                  }}
                {{/each}}
              </div>
            </div>
            <div class="tab-content-panel" id="best-sellers">
              <div class="product-grid product-carousel">
                {{#each products.top_sellers}}
                  {{> components/products/product-grid-item
                    this
                    show_rating=../settings.show_product_rating
                    default_image=../theme_settings.default-product-image
                    quick_shop=../theme_settings.quick-shop
                    as_low_as=../theme_settings.price_as_low_as
                  }}
                {{/each}}
              </div>
            </div>
            <svg class="icon icon-spinner"><use xlink:href="#icon-spinner" /></svg>
          </div>
        </div>
      </section>
    {{/if}}
  {{/if}}

  {{#if products.top_sellers}}
    {{#unless products.featured}}
      <section class="products-featured section">
        <div class="container">
          <h3 class="section-title">{{lang 'home.best_sellers'}}</h3>
          <div class="product-grid product-carousel">
            {{#each products.top_sellers}}
              {{> components/products/product-grid-item
                this
                show_rating=../settings.show_product_rating
                default_image=../theme_settings.default-product-image
                quick_shop=../theme_settings.quick-shop
                as_low_as=../theme_settings.price_as_low_as
              }}
            {{/each}}
          </div>
        </div>
      </section>
    {{/unless}}
  {{/if}}

  {{#if products.featured}}
    {{#unless products.top_sellers}}
      <section class="products-featured section">
        <div class="container">
          <h3 class="section-title">{{lang 'home.featured_products'}}</h3>
          <div class="product-grid product-carousel">
            {{#each products.featured}}
              {{> components/products/product-grid-item
                this
                show_rating=../settings.show_product_rating
                default_image=../theme_settings.default-product-image
                quick_shop=../theme_settings.quick-shop
                as_low_as=../theme_settings.price_as_low_as
              }}
            {{/each}}
          </div>
        </div>
      </section>
    {{/unless}}
  {{/if}}

  {{#if theme_settings.home-show-brands}}
    <section class="brand-list section">
      <div class="container">
        {{#each (limit brands 8)}}
          {{#if this.image.data}}
            <a class="brand-link" href="{{this.url}}">
              <img class="brand-logo" src="{{getImage image 'thumb'}}" alt="{{this.image.alt}}" />
            </a>
          {{/if}}
        {{/each}}
      </div>
    </section>
  {{/if}}

  {{#if theme_settings.home-show-blog}}
    <section class="blog-latest-posts section">
      <div class="container">
        <h3 class="section-title">Read All About It</h3>
        <h4 class="text-center">Simple and functional solutions for party rental and event planning.</h4>
        <div>
          {{#each blog.recent_posts}}
            {{> components/blog/blog-post-summary
              this
              summary_length=../theme_settings.home-blog-summary-length
            }}
          {{/each}}
        </div>
      </div>
    </section>
  {{/if}}

{{/partial}}

{{> layout/base}}
