<footer class="site-footer">
  <div class="container" style="max-width:100%;padding: 0;background:#f5f5f5;">
    <div class="footer-nav-wrap">
      <h4 style="font-size: 2rem;color:#174e83;font-family:'Lora', serif;">Shop the best deals online!</h4>
      <p id="FooterStatement">FoldingChairsandTables.com offers one of the largest selections of wholesale commercial folding and stacking event furniture online. We service rental companies, event planners, schools, churches, government entities, and many of the largest companies around the world! We also provide wholesale pricing to customers looking to purchase for home use. Shop around hundreds of optional colors and sizes to fit your exact need. Guaranteed A+ service and customer satisfaction, it's what makes us who we are!</p>

      <div class="footer-col footer-nav">
        <h4 class="footer-title">{{lang 'footer.page_nav'}}</h4>
        <!--{{> components/common/navigation nav_items=pages}}-->
        <nav class="navigation">
          <ul>
            <li>
              <a class="top-level-nav-link" href="/login.php">
                My Account
              </a>
            </li>
            <li>
              <a class="top-level-nav-link" href="/financing/">
                Financing
              </a>
            </li>
            <li>
              <a class="top-level-nav-link" href="/reviews/">
                Testimonials
              </a>
            </li>
            <li>
              <a class="top-level-nav-link" href="/blog/">
                Inspiration
              </a>
            </li>
            <li>
              <a class="top-level-nav-link" href="/contact-us/">
                Contact Us
              </a>
            </li>
            <li>
              <a class="top-level-nav-link" href="/shipping-and-returns/">
                Shipping & Returns
              </a>
            </li>
            <li>
              <a class="top-level-nav-link" href="/terms-conditions/">
                Terms & Conditions
              </a>
            </li>
            <li>
              <a class="top-level-nav-link" href="/privacy-policy/">
                Privacy Policy
              </a>
            </li>
            <li>
              <a class="top-level-nav-link" href="/about-us/">
                About Us
              </a>
            </li>
          </ul>
        </nav>

      </div>
      <div class="footer-col footer-nav">
        {{#if theme_settings.footer-show-categories}}
          <h4 class="footer-title">{{lang 'footer.category_nav'}}</h4>
          {{> components/common/navigation-top-level nav_items=categories}}
        {{else}}
          {{> components/footer/brand-navigation}}
        {{/if}}
      </div>
      {{#if theme_settings.footer-show-address}}
        <div class="footer-col footer-info">
          <h4 class="footer-title">{{lang 'footer.address'}}</h4>
          <p>{{nl2br settings.address}}</p>
          <p>{{settings.phone_number}}</p>
        </div>
      {{/if}}
      {{#if social_media.length}}
        <div class="footer-col footer-social">
          <h4 class="footer-title">{{lang 'footer.social_title'}}</h4>
          {{> components/common/social-media-links links=social_media}}
          <div class="fb-page"
               data-href="https://www.facebook.com/foldingchairsandtables"
               data-width="380"
               data-hide-cover="false"
               data-show-facepile="false"
               data-show-posts="false"
               style="margin-top: 2rem;"></div>
        </div>
      {{/if}}
    </div>

    <div class="footerInfo">
      <div class="container" style="padding-bottom:35px;">
        <p>Need help? We're available at 888-858-7529 • Email us at <a href="mailto:sales@foldingchairsandtables.com" title="sales@foldingchairsandtables.com">Sales@FoldingChairsandTables.com</a></p>
      </div>
    </div>


    <div class="bottom-bar {{#if theme_settings.theme-credits}}show-credits{{/if}}">
      <div class="footer-payment-icons">
        <ul class="footer-payment-icons-list">
          {{#if theme_settings.payment_visa}}
            <li>{{> svg/visa}}</li>
          {{/if}}

          {{#if theme_settings.payment_mastercard}}
            <li>{{> svg/mastercard}}</li>
          {{/if}}

          {{#if theme_settings.payment_american_express}}
            <li>{{> svg/amex}}</li>
          {{/if}}

          {{#if theme_settings.payment_discover}}
            <li>{{> svg/discover}}</li>
          {{/if}}

          {{#if theme_settings.payment_paypal}}
            <li>{{> svg/paypal}}</li>
          {{/if}}

          {{#if theme_settings.payment_apple_pay}}
            <li>{{> svg/applepay}}</li>
          {{/if}}
        </ul>
      </div>

      {{#if theme_settings.store-copyright}}
        <span class="footer-site-copyright">&copy; <script>document.write(new Date().getFullYear())</script> {{settings.store_name}}</span>
      {{/if}}

      <a id="bbblink" class="rbhzbum" href="http://www.bbb.org/knoxville/business-reviews/furniture-wholesale/creative-play-stores-in-knoxville-tn-2359#bbbseal" target="_blank" title="Creative Play Stores, LLC, Furniture  Wholesale, Knoxville, TN" style="margin: 0 auto !important; display: block;position: relative;overflow: hidden; width: 150px; height: 57px; padding: 0px;"><img style="padding: 0px; border: none;" id="bbblinkimg" src="https://seal-knoxville.bbb.org/logo/rbhzbum/creative-play-stores-2359.png" width="300" height="57" alt="Creative Play Stores, LLC, Furniture  Wholesale, Knoxville, TN" /></a><script type="text/javascript">var bbbprotocol = ( ("https:" == document.location.protocol) ? "https://" : "http://" ); document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-knoxville.bbb.org' + unescape('%2Flogo%2Fcreative-play-stores-2359.js') + "' type='text/javascript'%3E%3C/script%3E"));</script>

      {{#if theme_settings.sitemap}}
        <p style="font-size:12px;"><a href="{{urls.sitemap}}">{{lang 'sitemap.title'}}</a></p>
      {{/if}}
    </div>
  </div>
</footer>

