<div class="cart-table-header">
  <div class="cell cart-item-info">{{lang 'cart.product_info'}}</div>
  <div class="cell cart-item-options">{{lang 'cart.options'}}</div>
  <!--<div class="cell cart-item-price">Cost</div>-->
  <div class="cell cart-item-quantity">{{lang 'cart.quantity'}}</div>
  <div class="cell cart-item-price">{{lang 'cart.price'}}</div>
</div>

<div class="cart-table">
  {{#each cart.items}}
    <article class="cart-item" data-cart-item data-item-id="{{id}}">
      <div class="cell cart-item-info">
        <div class="cart-item-info-wrap">
          <div class="cart-item-image">
            {{#if type '===' 'GiftCertificate'}}
              <div class="gift-card-image">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 100 81.9" style="enable-background:new 0 0 100 81.9;" xml:space="preserve">
                  <path style="fill:currentColor" d="M77.4,0.3L5.8,21.1c-4.3,1.2-6.7,5.7-5.5,10l12.3,42.3c1.2,4.3,5.7,6.7,10,5.5l71.6-20.8
                    c4.3-1.2,6.7-5.7,5.5-10L87.4,5.8C86.2,1.5,81.7-0.9,77.4,0.3z M84.1,6.8l2.6,8.8L48.1,26.8c-0.7-2.2-1.8-5.4-3.2-7.6
                    c0,0-7.6,1.7-11,5.6l-2.2-7.6L78.4,3.6C80.8,2.9,83.4,4.3,84.1,6.8z M6.8,24.5l17.4-5.1l2.4,8.1c-5.1-0.3-11.4,3.9-11.4,3.9
                    c0.4,1.5,1,3,1.6,4.5L6.2,39l-2.6-8.8C2.9,27.7,4.3,25.2,6.8,24.5z M15.9,72.5l-7.6-26l17.1-5c-0.8,2.5-2,5.5-3.6,9.1l5.2,9.4
                    c0,0,2.5-7.1,4.7-14.7l7.3,25.3l-17.4,5.1C19.2,76.3,16.6,74.9,15.9,72.5z M93.3,54.8L46.5,68.4l-8.3-28.5C45.9,46,55,52.5,55,52.5
                    L53,42c-3.4-2.3-6.2-4.3-8.4-6l44.3-12.9l7.6,26C97.1,51.5,95.7,54.1,93.3,54.8z"/>
                  <ellipse style="fill:currentColor" cx="53.6" cy="79.3" rx="41.3" ry="2.6"/>
                </svg>
              </div>
            {{else}}
              <a href="{{url}}">
                <img src="{{getImage image 'thumb' (cdn ../theme_settings.default-product-image)}}" alt="{{image.alt}}" />
              </a>
            {{/if}}
          </div>
          <div class="cart-item-text">
            <div class="product-brand">{{brand.name}}</div>
            {{#if type '===' 'GiftCertificate'}}
              <a class="product-name" href="{{edit_url}}">{{name}}</a>
            {{else}}
              <a class="product-name" href="{{url}}">{{name}} ({{sku}})</a>

              <span class="cart-label">{{availability}}</span>
            {{/if}}
            <div class="cart-item-giftwrap">
              {{> components/cart/gift-wrap-item}}
            </div>
          </div>
        </div>
      </div>
      <div class="cell cart-item-options">
        {{#each options}}
          <div class="product-option"><span class="cart-label">{{name}}: </span>{{value}}</div>
        {{/each}}
      </div>
      <!--<div class="cell cart-item-price">
          <span class="cart-label">{{lang 'cart.checkout.price'}}</span>
        </div>-->
      <div class="cell cart-item-quantity">
        <span class="cart-label">{{lang 'cart.quantity'}}:</span>
        {{> components/common/quantity}}
      </div>
      <div class="cell cart-item-price">
        <span class="cart-label">{{lang 'cart.price'}}:</span>
        <span class="{{#if total_discounted}}price-discounted{{/if}}">{{total.formatted}}</span>
        {{#if total_discounted}}
          <span class="cart-item-discount">{{total_discounted.formatted}}</span>
        {{/if}}
        <span class="link cart-item-update" data-cart-item-update>{{lang 'cart.update'}}</span>
        <a class="cart-item-remove" data-cart-item-remove href="{{remove_url}}">
          {{> svg/close}}
        </a>
      </div>
    </article>
  {{/each}}
</div>

<script>
    window.CART_ITEMS = {{{json cart.items}}}
    window.CART_TOTAL = {{{json cart.sub_total}}}
</script>

