{{inject 'couponCodeEmptyInput' (lang 'cart.coupon_codes.error')}}

<div class="cart-totals-item coupon-code" data-coupon-codes>
  <form class="form form-coupon" method="post" action="{{urls.cart}}" data-coupon-code-form>
    <p class="cart-total-label coupon-code-title">{{lang 'cart.coupon_codes.title'}}</p>
    <div class="input-group">
      <div class="form-field input-group-item">
        <label class="form-label" for="couponcode">
          <span class="form-label-text sr-only">{{lang 'cart.coupon_codes.enter_code'}}</span>
          <input class="form-input" id="couponcode" type="text" name="couponcode" value="" placeholder="{{lang 'cart.coupon_codes.enter_code'}}" data-coupon-code-input>
        </label>
      </div>
      <div class="form-actions input-group-item">
        <input class="button button-tertiary" type="submit" value="{{lang 'cart.coupon_codes.submit'}}">
        <input type="hidden" name="action" value="applycoupon">
      </div>
    </div>
  </form>
</div>

<h5 class="text-center" style="font-weight:bold;">Cart FAQs</h5>
<div class="open">How long will it take to receive my shipment?
  <svg class="icon-arrow-down" width="9" height="7" viewBox="0 0 9 7" xmlns="http://www.w3.org/2000/svg"><title>dropdown_arrow</title><path d="M1.832.753l2.668 2.7 2.67-2.7c.418-.42 1.097-.42 1.516 0 .417.424.42 1.11 0 1.533l-3.428 3.46c-.417.42-1.098.42-1.518 0L.314 2.287c-.42-.424-.42-1.11 0-1.533.42-.42 1.1-.42 1.518 0z"></path></svg>
</div>
<div class="gameData">Most orders ship in 24-48 hours. Ship times can vary for each item. If there are multiple shipments, you will be emailed separate tracking numbers. Depending on location, transit time varies 1 - 5 business days. </div>

<div class="open">Do you offer free shipping?
  <svg class="icon-arrow-down" width="9" height="7" viewBox="0 0 9 7" xmlns="http://www.w3.org/2000/svg"><title>dropdown_arrow</title><path d="M1.832.753l2.668 2.7 2.67-2.7c.418-.42 1.097-.42 1.516 0 .417.424.42 1.11 0 1.533l-3.428 3.46c-.417.42-1.098.42-1.518 0L.314 2.287c-.42-.424-.42-1.11 0-1.533.42-.42 1.1-.42 1.518 0z"></path></svg>
</div>
<div class="gameData">Instead of building it into the cost of the product and calling it 'Free Shipping', we price everything at wholesale and charge you the exact shipping costs. This ensures you pay the absolute lowest out of any of our competitors.
</div>

<div class="open">Do you offer bulk discounts?
  <svg class="icon-arrow-down" width="9" height="7" viewBox="0 0 9 7" xmlns="http://www.w3.org/2000/svg"><title>dropdown_arrow</title><path d="M1.832.753l2.668 2.7 2.67-2.7c.418-.42 1.097-.42 1.516 0 .417.424.42 1.11 0 1.533l-3.428 3.46c-.417.42-1.098.42-1.518 0L.314 2.287c-.42-.424-.42-1.11 0-1.533.42-.42 1.1-.42 1.518 0z"></path></svg>
</div>
<div class="gameData">All pricing is listed online. If bulk pricing is applicable, it can be found on each product page. If you need an official quotation: <br><br>
  <a style="display: block;" class="button" href="javascript:void(0)" onclick="showQuoteRequest()">Submit A Quote</a>
</div>

<div class="open">Can I pay with a purchase order?
  <svg class="icon-arrow-down" width="9" height="7" viewBox="0 0 9 7" xmlns="http://www.w3.org/2000/svg"><title>dropdown_arrow</title><path d="M1.832.753l2.668 2.7 2.67-2.7c.418-.42 1.097-.42 1.516 0 .417.424.42 1.11 0 1.533l-3.428 3.46c-.417.42-1.098.42-1.518 0L.314 2.287c-.42-.424-.42-1.11 0-1.533.42-.42 1.1-.42 1.518 0z"></path></svg>
</div>
<div class="gameData">ABSOLUTELY! Simply proceed to checkout and select 'Purchase Order' as your payment method. PO's can be emailed to <a href="mailto:sales@foldingchairsandtables.com" title="sales@foldingchairsandtables.com">Sales@FoldingChairsandTables.com</a>
</div>

<div class="open">Do you ship internationally?
  <svg class="icon-arrow-down" width="9" height="7" viewBox="0 0 9 7" xmlns="http://www.w3.org/2000/svg"><title>dropdown_arrow</title><path d="M1.832.753l2.668 2.7 2.67-2.7c.418-.42 1.097-.42 1.516 0 .417.424.42 1.11 0 1.533l-3.428 3.46c-.417.42-1.098.42-1.518 0L.314 2.287c-.42-.424-.42-1.11 0-1.533.42-.42 1.1-.42 1.518 0z"></path></svg>
</div>
<div class="gameData">For orders shipping outside the contiguous 48 states & Canada, payment must be by wire-transfer. International shipments require delivery to a freight forwarder of your choosing. If delivery is to Canada we will require your custom's broker information.</a>
</div>


