<header class="site-header logo-align-{{theme_settings.global-header-logo-alignment}}" role="banner">
  <div data-alerts>
    {{#each product.reviews.messages}}
      {{#if error}}
        {{> core/alerts/alert-error message=error dismissable=true}}
      {{/if}}
      {{#if success}}
        {{> core/alerts/alert-success message=success dismissable=true}}
      {{/if}}
    {{/each}}

    {{#if cart.status_messages}}
      {{#each cart.status_messages}}
        {{#if type '==' 0}}
          {{> core/alerts/alert-error message=message dismissable=true}}
        {{/if}}

        {{#if type '==' 1}}
          {{> core/alerts/alert-success message=message dismissable=true}}
        {{/if}}

        {{#if type '==' 3}}
          {{> core/alerts/alert-error message=message dismissable=true}}
        {{/if}}
      {{/each}}
    {{/if}}
  </div>

  {{#if theme_settings.global-header-logo-alignment '===' 'center'}}
    {{> components/header/shipping-messages}}
  {{/if}}

  <section class="top-bar">
    <div class="container">
      <div class="top-bar-left {{#if currency_selector.currencies.length '===' 1}}no-currency-selector{{/if}}">

        <span style="font-size:1.5rem;"><a style="color:#4e4d5b;" href="tel:+8888587529">888.858.7529</a></span>

        {{> components/header/currency-selector}}
      </div>

      <div class="top-bar-center">
        {{#if theme_settings.global-header-logo-alignment '!==' 'center'}}
          {{> components/header/shipping-messages}}
        {{/if}}

        {{> components/header/site-branding}}
      </div>

      <div class="top-bar-right customer-utils">
        <div class="compare-wrap" data-compare-widget>
          <button class="top-bar-button button-compare-toggle">
            {{lang 'header.compare'}}
            <span class="compare-items-count"></span>
          </button>
          <div class="compare-tab" id="compare-tab">
            <div class="compare-tab-upper">
              <div class="item-limit">{{lang 'compare.compare_up_to_x_items' num=4}}</div>
              <a href="#" class="clear-compare" data-compare-remove-all>{{lang 'compare.clear_compare'}}</a>
            </div>
            <ul class="compare-items-list" id="compare-items-wrapper" data-compare-items></ul>
            <a class="button button-primary compare-submit" href="{{urls.compare}}" data-compare-link="{{urls.compare}}">{{lang 'compare.compare_submit'}}</a>
          </div>
        </div>

        {{#if settings.account_creation_enabled}}
        <div class="customer-links">
          {{#if customer}}
          {{#contains page_type 'account'}}
          <a class="top-bar-button" href="{{urls.auth.logout}}">
            {{> svg/account}}
            <span class="button-text">{{lang 'header.log_out'}}</span>
          </a>
          {{else}}
          <a class="top-bar-button" href="{{urls.account.index}}">
            {{> svg/account}}
            <span class="button-text">{{lang 'header.account'}}</span>
          </a>
          {{/contains}}
          {{else}}
          <a class="top-bar-button" href="{{urls.auth.login}}" data-toggle-login-modal>
            {{> svg/account}}
            <span class="button-text">{{lang 'header.account'}}</span>
          </a>
          {{/if}}
        </div>
        {{/if}}

        <!--{{#if settings.show_wishlist}}
          <a class="top-bar-button button-wishlist" href="{{urls.account.wishlists.all}}" {{#unless customer}}data-toggle-login-modal{{/unless}}>
            {{> svg/wishlist}}
          </a>
        {{/if}}-->

        <button class="top-bar-button button-cart-toggle">
            <span class="mini-cart-subtotal button-text" data-cart-subtotal="{{cart.sub_total.value}}">
                {{cart.sub_total.formatted}}
            </span>
            {{> svg/cart}}
        </button>
      </div>

      <span class="button-mobile-nav-cart">
        <a href="{{urls.cart}}">{{> svg/cart}}</a>
      </span>

      <button class="button-mobile-nav-toggle">
        <i class="burger"></i>
      </button>

      <button class="button-mobile-nav-back" data-toggle-mobile="all">
        <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left" /></svg>
      </button>
    </div>
  </section>

  {{> components/common/search-panel}}

  <section class="main-nav-bar">
    <!--<div class="container">-->

      {{#if theme_settings.global-header-logo-alignment '===' 'left'}}
        {{> components/header/site-navigation-left-align}}
      {{/if}}

      {{#if theme_settings.global-header-logo-alignment '===' 'center'}}
        {{> components/header/site-navigation-center-align}}
      {{/if}}

      {{#if theme_settings.global-header-logo-alignment '===' 'right'}}
        {{> components/header/site-navigation-right-align}}
      {{/if}}

    <!--</div>-->
  </section>

</header>
