{{#if shop_by_price}}
  <div class="sidebar-block shop-by-price">
    <h4 class="facet-list-title">{{lang 'category.shop_by_price'}}</h4>
    <ul>
      {{#each shop_by_price}}
        <li class="facet-item">
          <a class="{{#if selected }}is-active{{/if}}" href="{{url}}" alt="{{low.formatted}} - {{high.formatted}}">{{low.formatted}} - {{high.formatted}}</a>
        </li>
      {{/each}}
    </ul>
    {{#any shop_by_price selected=true}}
      <a href="{{category_url}}" class="link facet-remove">
        {{lang 'category.reset'}}
      </a>
    {{/any}}
  </div>
{{/if}}
