{{#if brand.products}}
  <div class="listing-wrapper">
    {{#each brand.products}}
      {{> components/products/product-grid-item show_rating=../settings.show_product_rating show_compare=../brand.show_compare default_image=../theme_settings.default-product-image}}
    {{/each}}
  </div>

  {{> components/common/pagination pagination.brand}}
{{else}}
  <div>
    {{lang 'category.empty'}}
  </div>
{{/if}}
