<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
  <head>
    <title>{{ head.title }}</title>
    {{{ head.meta_tags }}}
    {{{ head.config }}}
    {{#block "head"}} {{/block}}
    <link href="{{ head.favicon }}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="{{cdn '/assets/js/modernizr.js'}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {{{stylesheet '/assets/css/theme.css'}}}
    {{ getFontsCollection }}

    {{{head.scripts}}}
    {{{head.rsslinks}}}

    {{inject 'themeImageSizes' theme_settings._images}}
    {{> components/global-injects}}

    {{{snippet 'html_head'}}}

    {{> core/structured-data/website}}

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://quoteninja-cdn.firebaseapp.com/styles.min.css" rel="stylesheet" type="text/css"/>

    <!-- Hotjar Tracking Code for www.foldingchairsandtables.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:453993,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <script src="//notifyapp.io/js/loader.js?shop=store-lxku4v.mybigcommerce.com"></script>
    <!--Financing Script-->
    <script type="text/javascript" src="https://vendor1.quickspark.com/one-liner.js?vc=qpyyb9t" id="quickspark-api"></script>
    <script src="https://www.foldingchairsandtables.com/template/js/modernizr.js"></script>

      <script>
          $(document).scroll(function() {
              if($(window).scrollTop() > 50){

                  $(".mega-nav-child-list-container").removeClass("visible");
              }
          });
      </script>

  </head>

  <body class="{{> components/common/body-classes}}">

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1770737396508364";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

    {{#if page_type '===' 'product'}}
      {{> components/common/facebook-like}}
    {{else if page_type '===' 'blog'}}
      {{> components/common/facebook-like}}
    {{else if page_type '===' 'blog_post'}}
      {{> components/common/facebook-like}}
    {{/if}}

    <div class="icons-svg-sprite">{{> components/common/icons/icon-defs}}</div>
    <div class="site-wrapper">
      {{{snippet 'header'}}}

      {{> components/header/header}}
      <div class="site-canvas">
        <div class="on-canvas">
          {{#contains page_type 'account'}}
            {{> components/common/breadcrumbs breadcrumbs}}
          {{/contains}}
          {{#contains page_type 'login'}}
            {{> components/common/breadcrumbs breadcrumbs}}
          {{/contains}}

            <a id="financing-banner" href="https://secure.quickspark.com/app.cfm?do=apply&vurl=qpyyb9t&vId=5289&frm=&skny=n&wsc=&appType=&ec=&vButton=&cartdata=pId~pn~"><img src="/product_images/uploaded_images/financing-banner.png?t=1489513704" style="display:block; margin: auto; max-width: 1170px;padding: 1rem;" alt="Financing"></a>
          <!--{{#if banners.top}}
            <div class="banners banners-top">
              {{#each banners.top}}
                <div class="banner rte">
                  {{{this}}}
                </div>
              {{/each}}
            </div>
          {{/if}}-->

          <main class="main-content">
            {{#block "page"}}{{/block}}
          </main>

          {{#if banners.bottom}}
            <div class="banners banners-bottom">
              {{#each banners.bottom}}
                <div class="banner rte">
                  {{{this}}}
                </div>
              {{/each}}
            </div>
          {{/if}}

          {{#if settings.show_newsletter_box}}
            {{> components/common/newsletter-signup}}
          {{/if}}

          {{> components/footer/footer }}
        </div>

        {{> components/header/navigation-mobile}}
      </div> <!-- /site-canvas -->

      {{> components/mini-cart/mini-cart }}

      <button class="button-top" data-scroll="#">
        <svg class="icon icon-arrow-up"><use xlink:href="#icon-arrow-up" /></svg>
      </button>

      {{> components/common/login-modal}}
    </div> <!-- /site-wrapper -->

    {{> core/structured-data/breadcrumbs}}

    <script src="{{cdn '/assets/js/bundle.js'}}"></script>
    <script>
      window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
    </script>
    <script src="https://www.foldingchairsandtables.com/template/js/jquery.mobile.custom.min.js"></script>

    <script>
        jQuery(function() {
            jQuery('.open').on('click', function() {
                jQuery('.gameData').not(jQuery(this).next('.gameData')).slideUp('fast');
                jQuery(this).next('.gameData').slideToggle('fast');
            });
        });
    </script>
    {{{footer.scripts}}}
    {{{snippet 'footer'}}}
  </body>
</html>
