<script>
    $(document).ajaxComplete(function() {
        yotpo.initWidgets();
        // To avoid duplicates
        if($('.ProductList .ColorWheel, .ProductList .SizeWheel ,.ProductList .FreeShippingIcon ,.ProductList .usa-made').length <= 0){
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='Free Shipping']").each(function( index ) {
                $(this).parents('li').append('<p class="FreeShippingIcon">FREE Shipping</p>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='10Samsonite']").each(function( index ) {
                $(this).parents('li').append('<p class="FreeShippingIcon">10 Year Warranty</p>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='Free Cushion']").each(function( index ) {
                $(this).parents('li').append('<p class="FreeShippingIcon">FREE Cushion</p>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='18+ Free Ship']").each(function( index ) {
                $(this).parents('li').append('<p class="FreeShippingIcon">18+ FREE Shipping</p>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='20+ Free Ship']").each(function( index ) {
                $(this).parents('li').append('<p class="FreeShippingIcon">20+ FREE Shipping</p>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='Color']").each(function( index ) {
                $(this).parents('li').append('<p class="MoreOptions">More Options: Color »</p></a>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='Size']").each(function( index ) {
                $(this).parents('li').append('<p class="MoreOptions">More Options: Size »</p>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='Bulk']").each(function( index ) {
                $(this).parents('li').append('<p class="MoreOptions">View For Bulk Discounts »</p>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='USA']").each(function( index ) {
                $(this).parents('li').append('<img src="/product_images/uploaded_images/flag-usa-icon.png?t=1441131352" style="float:left;padding-left:10px;"><p class="FreeShippingIcon">USA Made</p>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='Stock']").each(function( index ) {
                $(this).parents('li').append('<p class="FreeShippingIcon">Out of Stock</p>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='Sale']").each(function( index ) {
                $(this).parents('li').append('<div class="Sale"><img src="https://cdn2.bigcommerce.com/n-arxsrf/lxku4v/product_images/uploaded_images/sales.jpg?t=1459522843" alt="Sale"/></div>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='10Warranty']").each(function( index ) {
                $(this).parents('li').append('<div class="Warranty"><img src="https://cdn2.bigcommerce.com/n-arxsrf/lxku4v/product_images/uploaded_images/warranty10.png?t=1466431081" alt="Warranty"/></div>');
            });

            $("#CategoryContent .ProductList li .ProductImage a img[alt*='Samsonite']").each(function( index ) {
                $(this).parents('li').append('<div class="Samsonite"><img src="https://cdn2.bigcommerce.com/n-arxsrf/lxku4v/product_images/uploaded_images/samsonite-logo.png?t=1479836976&_ga=1.149447487.826218780.1479332269" alt="Samsonite"/></div>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='XL Series']").each(function( index ) {
                $(this).parents('li').append('<div class="XLSeries"><img src="https://cdn2.bigcommerce.com/n-arxsrf/lxku4v/product_images/uploaded_images/xl-card-table-logo.png?t=1481650039" alt="XL Series Card Table"/></div>');
            });

            $("#CategoryContent .ProductList li .ProductImage a img[alt*='100+ Free']").each(function( index ) {
                $(this).parents('li').append('<p class="FreeShippingIcon">100+ FREE Shipping</p>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='Clearance']").each(function( index ) {
                $(this).parents('li').append('<div class="Clearance"><img src="https://cdn2.bigcommerce.com/n-arxsrf/lxku4v/product_images/uploaded_images/clearance.jpg?t=1466541570" alt="CLEARANCE"/></div>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='Poly']").each(function( index ) {
                $(this).parents('li').append('<div class="LinenCircle"><span>Polyester</div>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='Spun']").each(function( index ) {
                $(this).parents('li').append('<div class="LinenCircle"><span>Spun Poly</div>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='8.49']").each(function( index ) {
                $(this).parents('li').find(".p-price").replaceWith('<em class="p-price"><span style="color:#999;font-size:12px;">as low as </span> $8.49</em>');
            });
            $("#CategoryContent .ProductList li .ProductImage a img[alt*='100 pk']").each(function( index ) {
                $(this).parents('li').append('<div class="circle">100pk</div>');
            });

        }
    });
</script>  ​
