<aside class="mini-cart">
  <div class="mini-cart-inner">
    <header class="mini-cart-top-bar">
      <h3 class="mini-cart-title"><!--{{lang 'mini_cart.title'}}-->Your shopping cart</h3>
      <button class="button-cart-close">
        {{> svg/close}}
      </button>
    </header>

    <div class="mini-cart-contents">
      {{> components/mini-cart/mini-cart-contents}}
    </div>
  </div>
</aside>
