{{#each cart.items}}
  <div class="mini-cart-item">
    <div class="mini-cart-item-wrap">
      {{#if type '==' 'GiftCertificate'}}
        <a href="{{edit_url}}">
          <svg class="giftcard-image" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 100 81.9" style="enable-background:new 0 0 100 81.9;" xml:space="preserve">
            <path style="fill:currentColor" d="M77.4,0.3L5.8,21.1c-4.3,1.2-6.7,5.7-5.5,10l12.3,42.3c1.2,4.3,5.7,6.7,10,5.5l71.6-20.8
              c4.3-1.2,6.7-5.7,5.5-10L87.4,5.8C86.2,1.5,81.7-0.9,77.4,0.3z M84.1,6.8l2.6,8.8L48.1,26.8c-0.7-2.2-1.8-5.4-3.2-7.6
              c0,0-7.6,1.7-11,5.6l-2.2-7.6L78.4,3.6C80.8,2.9,83.4,4.3,84.1,6.8z M6.8,24.5l17.4-5.1l2.4,8.1c-5.1-0.3-11.4,3.9-11.4,3.9
              c0.4,1.5,1,3,1.6,4.5L6.2,39l-2.6-8.8C2.9,27.7,4.3,25.2,6.8,24.5z M15.9,72.5l-7.6-26l17.1-5c-0.8,2.5-2,5.5-3.6,9.1l5.2,9.4
              c0,0,2.5-7.1,4.7-14.7l7.3,25.3l-17.4,5.1C19.2,76.3,16.6,74.9,15.9,72.5z M93.3,54.8L46.5,68.4l-8.3-28.5C45.9,46,55,52.5,55,52.5
              L53,42c-3.4-2.3-6.2-4.3-8.4-6l44.3-12.9l7.6,26C97.1,51.5,95.7,54.1,93.3,54.8z"/>
            <ellipse style="fill:currentColor" cx="53.6" cy="79.3" rx="41.3" ry="2.6"/>
          </svg>
        </a>
      {{else}}
        <a href="{{url}}">
          <div class="mini-cart-item-thumb" style="background-image: url({{getImage image 'thumb' (cdn ../theme_settings.default-product-image)}})"></div>
          <img class="sr-only" src="{{getImage image 'thumb' (cdn ../theme_settings.default-product-image)}}" alt="{{image.alt}}" />
        </a>
      {{/if}}
      <div class="mini-cart-item-description">
        <a href="{{url}}" class="mini-cart-item-title">{{name}}</a>
        <div class="mini-cart-item-options">
          {{#each options}}<span class="option-value">{{value}}</span>{{/each}}
        </div>
        <div class="mini-cart-item-actions">
          <a class="link" href="{{../urls.cart}}">{{lang 'mini_cart.edit'}}</a>
          <a class="link" data-cart-item-remove data-product-id="{{id}}" href="{{remove_url}}">{{lang 'mini_cart.remove'}}</a>
        </div>
      </div>
      <div class="mini-cart-item-price">
        {{quantity}} &times;
        <span class="{{#if price_discounted}}price-discounted{{/if}}">{{price.formatted}}</span>
        {{#if price_discounted}}
          <span class="cart-item-discount">{{price_discounted.formatted}}</span>
        {{/if}}
      </div>
    </div>
  </div>
{{/each}}

<footer class="mini-cart-footer">
  {{#if cart.items.length}}
    <h4 class="mini-cart-footer-title">
      <span>{{lang 'mini_cart.subtotal'}}</span>
      <span class="mini-cart-subtotal" data-cart-subtotal="{{cart.sub_total.value}}">
        {{cart.sub_total.formatted}}
      </span>
    </h4>
    <div class="mini-cart-actions">
      <a style="font-size: 15px;" class="button button-secondary" href="{{urls.cart}}"><!--{{lang 'mini_cart.view_cart'}}-->Calculate Shipping</a>
      <a style="font-size: 15px;" class="button button-checkout" href="{{urls.checkout.single_address}}">{{lang 'mini_cart.checkout'}}</a>
    </div>
  {{else}}
    <h3 class="mini-cart-empty"><!--{{lang 'mini_cart.empty'}}-->Your cart is empty!</h3>
  {{/if}}
</footer>
