<article class="product-list-item product-block" data-product-title="{{name}}" data-product-id="{{id}}">
  <div class="product-thumb-wrapper">
    <figure class="product-item-thumbnail">
      {{#if price.saved}}
        <div class="product-badge">{{lang 'product.sale'}}</div>
      {{/if}}
      {{#if out_of_stock_message}}
        <div class="product-badge sold-out"><span class="message">{{out_of_stock_message}}</span></div>
      {{/if}}
      <a class="product-item-thumbnail-image" href="{{url}}" data-product-href="{{url}}" style="background-image: url({{getImage image 'thumb' (cdn default_image)}})">
        <img class="sr-only" src="{{getImage image 'thumb' (cdn default_image)}}" alt="{{image.alt}} {{custom_fields.0.value}}" />
      </a>
    </figure>
  </div>

  <div class="product-item-details">
    {{#if sku}}
      <div class="product-item-brand"><b>SKU</b>: {{sku}}</div>
    {{/if}}
    <h5 class="product-item-title">
      <a href="{{url}}" alt="{{name}}">{{name}}</a>
    </h5>

    {{#if show_rating}}
      <p class="product-item-rating">
        <span class="rating-title">{{rating}} {{lang 'product.stars'}}</span>
        {{> components/products/ratings rating=rating}}
      </p>

      {{{snippet 'product_rating'}}}
    {{/if}}

    <div class="product-description">
      {{{summary}}}
    </div>
  </div>

  <div class="product-item-actions">
    <div class="product-item-price" data-product-price="{{price.without_tax.formatted}}">
      {{> components/products/price
        price=price
        as_low_as=as_low_as
      }}
    </div>

    {{#if quick_shop}}
      <button class="button button-secondary button-short button-wide" data-quick-shop data-product-id="{{id}}">
        {{lang 'product.quick_view'}}
      </button>
    {{/if}}

    {{#if show_compare}}
      <label class="button button-short button-wide form-label product-item-compare" for="compare-{{id}}">
        {{> components/common/compare-checkbox}}
        <span class="form-label-text">
          {{lang "product.compare"}}
          <svg class="icon icon-check-mark"><use xlink:href="#icon-check-mark" /></svg>
        </span>
      </label>
    {{/if}}
  </div>
</article>
