<section class="product-details product-block section {{#unless quick_view}}product-single{{/unless}}" data-product-container data-product-title="{{product.title}}" data-product-id="{{product.id}}">
  <div class="container">
    {{#unless quick_view}}
      {{> components/common/breadcrumbs breadcrumbs}}
    {{/unless}}

    <div class="product-details-column">
      {{> components/products/product-single-images images=product.images}}
    </div>

    <div class="product-details-column">
      {{#if product.brand}}
        <a class="product-brand" href="{{product.brand.url}}">{{product.brand.name}}</a>
      {{/if}}

      {{#if quick_view}}
        <h1 class="product-title"><a href="{{product.url}}">{{this.product.title}}</a></h1>
      {{else}}
        <h1 class="product-title">{{this.product.title}}</h1>
      {{/if}}

      <div class="product-price">
        {{#if product.price}}
          {{> components/products/price price=product.price show_savings=true save_block=true}}
        {{/if}}

        {{#if product.call_for_price}}
          <p>{{product.call_for_price}}</p>
        {{/if}}
      </div>

      <div class="product-rating-block">
        {{#if settings.show_product_rating}}
          <div class="product-item-rating">
            {{> components/products/ratings rating=this.product.rating}}
            <span class="reviews-jumplink total-reviews" data-scroll="#product-reviews">
              ( <a class="product-reviews-link link" href="{{#if quick_view}}{{product.url}}#product-reviews{{else}}#product-reviews{{/if}}">{{lang 'product.reviews.title' numReviews=product.num_reviews}}</a> )
            </span>
          </div>

          {{{snippet 'product_rating'}}}
        {{/if}}
      </div>

      {{#if product.release_date }}
        <p class="message neutral">{{product.release_date}}</p>
      {{/if}}

      <div class="product-stock">
        <span class="{{#unless product.stock_level}}product-details-hidden{{/unless}}" data-product-stock>{{lang 'product.current_stock'}}</span>
        <span class="{{#unless product.stock_level}}product-details-hidden{{/unless}}" data-product-stock data-product-stock-level>{{#if product.stock_level}}{{product.stock_level}}{{else}}0{{/if}}</span>
      </div>

      {{> components/products/bulk-pricing}}



      <hr>

      <form method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-cart-item-add data-product-options-count="{{product.options.length}}">
        <input type="hidden" name="action" value="add">
        <input type="hidden" name="product_id" value="{{product.id}}" data-product-id/>

        {{#if product.customizations.length}}
          <div class="product-options-container">
            {{#each product.customizations}}
              {{{dynamicComponent 'core/forms/customizations'}}}
            {{/each}}
          </div>
        {{/if}}

        {{#if product.options.length}}
          <div class="product-options-container" data-product-option-change>
            {{#each product.options}}
              {{{dynamicComponent 'core/forms/options'}}}
            {{/each}}
          </div>
        {{/if}}

        {{#if product.event_date}}
          {{> core/products/event}}
        {{/if}}

        <div class="product-quantity-submit">
          <div class="product-quantity-container">
            {{#if product.show_quantity_input}}
              <div class="form-field form-inline">
                <label class="form-label">
                  <strong class="form-label-text">{{ lang 'product.quantity'}}</strong>
                  <input
                    type="text"
                    class="product-quantity form-input"
                    name="qty[]"
                    value="{{#if product.quantity}}{{product.quantity}}{{else}}{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}{{/if}}"
                    min="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}0{{/if}}"
                    {{#if product.max_purchase_quantity}}max="{{product.max_purchase_quantity}}"{{/if}}
                    pattern="[0-9]+"
                  >
                  <div class="product-quantity-toggle-wrapper">
                    <span class="product-quantity-toggle product-quantity-increment">
                      <svg class="icon icon-plus"><use xlink:href="#icon-plus" /></svg>
                    </span>
                    <span class="product-quantity-toggle product-quantity-decrement">
                      <svg class="icon icon-minus"><use xlink:href="#icon-minus" /></svg>
                    </span>
                  </div>
                </label>
              </div>
            {{/if}}

            <div class="share-block">
              <span class="form-label-text share-title">{{ lang 'product.share'}}</span>
              {{> components/common/share-buttons share_buttons=settings.add_this url=product.url image=(getImage product.main_image 'thumb') title=product.title}}
            </div>
          </div>

          {{#if product.can_purchase}}
            <button type="submit" class="button button-primary button-wide add-to-cart button-progress spinner" data-button-purchase>
              <span class="button-text">
                {{#if product.pre_order}}
                  {{lang 'product.pre_order'}}
                {{else}}
                  <!--{{lang 'product.add_to_cart'}}-->
                  Add To Cart
                {{/if}}
              </span>
            </button>
          {{else}}
            {{#if product.out_of_stock}}
              <div class="button button-primary button-wide add-to-cart button-disabled">
                {{lang 'product.sold_out'}}
              </div>
            {{/if}}
          {{/if}}
        </div>

      </form>

      {{#if settings.show_wishlist}}
        <form method="post" class="wishlist-form" action="{{product.add_to_wishlist_url}}">
          <input type="submit" class="button button-secondary button-wide add-to-wishlist" value="{{ lang 'product.add_to_wishlist'}}">
        </form>
      {{/if}}

      <div class="product-message-area" data-product-alerts></div>

      {{#if quick_view}}
        <a class="quick-shop-details-lower link" href="{{this.product.url}}">{{lang 'product.view_full_details'}}</a>
      {{/if}}
    </div>

    {{{snippet 'product_details'}}}

  </div>
</section>
