<div class="product-images-container">
  <div class="product-images-loader">
    <svg class="icon icon-spinner"><use xlink:href="#icon-spinner" /></svg>
  </div>

  <div class="product-slides-container">
    <div class="product-slides-wrap">
      {{#each images}}
        <a class="product-image" style="background-image:url({{getImage this 'zoom'}});" href="{{getImage this 'zoom'}}" data-product-image>
          <img src="{{getImage this 'product'}}" alt="{{alt}}">
        </a>
      {{/each}}
    </div>
  </div>
  <div class="product-images-pagination">
    {{#each images}}
      <div class="pagination-item">
        <img src="{{getImage this 'thumb'}}" alt="{{this.alt}}">
      </div>
    {{/each}}
  </div>
</div>
