<section class="product-tabs section" data-product-container>
  <ul class="tabs" data-tabs>
    <li class="tab-title"><a href="#product-description">Description</a></li>
    {{#if theme_settings.product-additional-info}}
      <li class="tab-title"><a href="#product-additional-info">{{lang 'product.additional_info'}}</a></li>
    {{/if}}
    {{#if product.videos.list.length}}
      <li class="tab-title"><a href="#product-videos">{{lang 'product.videos'}}</a></li>
    {{/if}}
    {{#if settings.show_product_reviews}}
      <li class="tab-title">
        <a href="#product-reviews">
          {{lang 'product.reviews_tab_title'}}
          <span class="num-reviews" data-num-reviews="({{product.reviews.list.length}})"></span>
        </a>
      </li>
    {{/if}}
  </ul>

  <div class="container container-small">
    <div class="tabs-content">
      <div class="accordion-title">
        <a href="#product-description" data-scroll="#product-description">
          Description
          <svg class="icon icon-plus"><use xlink:href="#icon-plus" /></svg>
          <svg class="icon icon-minus"><use xlink:href="#icon-minus" /></svg>
        </a>
      </div>
      <div class="tab-content-panel" id="product-description">
        <div class="product-description">
          {{{product.description}}}

          {{{snippet 'product_description'}}}
        </div>
      </div>


    {{#if theme_settings.product-additional-info}}
      <div class="accordion-title">
        <a href="#product-additional-info" data-scroll="#product-additional-info">
          {{lang 'product.additional_info'}}
          <svg class="icon icon-plus"><use xlink:href="#icon-plus" /></svg>
          <svg class="icon icon-minus"><use xlink:href="#icon-minus" /></svg>
        </a>
      </div>

      <div class="tab-content-panel" id="product-additional-info">
        {{#if product.warranty}}
          <div class="product-warranty product-info-warranty">
            <dl class="product-details-block">
              <dt class="product-details-name">{{lang 'product.warranty'}}:</dt>
              <dd class="product-details-value">{{product.warranty}}</dd>
            </dl>
          </div>
        {{/if}}

        <div class="product-details-blocks">
          {{#if product.sku}}
          <dl class="product-details-block product-info-sku">
            <dt class="product-details-name">{{lang 'product.sku'}}:</dt>
            <dd class="product-details-value" data-product-sku>{{product.sku}}</dd>
          </dl>
          {{/if}}
          {{#if product.condition}}
          <dl class="product-details-block product-info-condition">
            <dt class="product-details-name">{{lang 'product.condition'}}:</dt>
            <dd class="product-details-value">{{product.condition}}</dd>
          </dl>
          {{/if}}
          {{#if product.release_date}}
          <dl class="product-details-block product-info-release-date">
            <dt class="product-details-name">{{lang 'product.release_date'}}:</dt>
            <dd class="product-details-value">{{product.release_date}}</dd>
          </dl>
          {{/if}}
          {{#if product.availability}}
          <dl class="product-details-block product-info-availability">
            <dt class="product-details-name">{{lang 'product.availability'}}:</dt>
            <dd class="product-details-value">{{product.availability}}</dd>
          </dl>
          {{/if}}
          {{#if theme_settings.product-dimensions}}
            {{#if product.weight}}
              <dl class="product-details-block product-info-weight">
                <dt class="product-details-name">{{lang 'product.weight'}}:</dt>
                <dd class="product-details-value" data-product-weight>{{product.weight}}</dd>
              </dl>
            {{/if}}
            {{#if product.height}}
              <dl class="product-details-block product-info-height">
                <dt class="product-details-name">{{lang 'product.height'}}:</dt>
                <dd class="product-details-value" data-product-weight>{{product.height}}</dd>
              </dl>
            {{/if}}
            {{#if product.width}}
              <dl class="product-details-block product-info-width">
                <dt class="product-details-name">{{lang 'product.width'}}:</dt>
                <dd class="product-details-value" data-product-weight>{{product.width}}</dd>
              </dl>
            {{/if}}
            {{#if product.depth}}
              <dl class="product-details-block product-info-depth">
                <dt class="product-details-name">{{lang 'product.depth'}}:</dt>
                <dd class="product-details-value" data-product-weight>{{product.depth}}</dd>
              </dl>
            {{/if}}
          {{/if}}
          {{#if product.gift_wrapping_available}}
            <dl class="product-details-block product-info-gift-wrapping">
              <dt class="product-details-name">{{lang 'product.gift_wrapping'}}:</dt>
              <dd class="product-details-value">{{lang 'product.gift_wrapping_available'}}</dd>
            </dl>
          {{/if}}
          {{#if product.shipping}}
            <dl class="product-details-block product-info-shipping">
              {{#if product.shipping.calculated}}
                <dt class="product-details-name">{{lang 'product.shipping'}}:</dt>
                <dd class="product-details-value">{{lang 'product.shipping_calculated'}}</dd>
              {{else}}
                {{#if product.shipping.price '===' 0}}
                  <dt class="product-details-name">{{lang 'product.shipping'}}:</dt>
                  <dd class="product-details-value">{{lang 'product.shipping_free'}}</dd>
                {{else}}
                  <dt class="product-details-name">{{lang 'product.shipping'}}:</dt>
                  <dd class="product-details-value">{{lang 'product.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                {{/if}}
              {{/if}}
            </dl>
          {{/if}}

          {{#each product.custom_fields}}
            <dl class="product-details-block product-info-{{name}}">
              <dt class="product-details-name">{{name}}:</dt>
              <dd class="product-details-value">{{value}}</dd>
            </dl>
          {{/each}}
        </div>
      </div>
    {{/if}}

      {{#if product.videos.list.length}}
        <div class="accordion-title">
          <a href="#product-videos" data-scroll="#product-videos">
            {{lang 'product.videos'}}
            <svg class="icon icon-plus"><use xlink:href="#icon-plus" /></svg>
            <svg class="icon icon-minus"><use xlink:href="#icon-minus" /></svg>
          </a>
        </div>
        <div class="tab-content-panel" id="product-videos">
          <div class="product-videos-list">
            {{#each product.videos.list}}
              {{> components/products/video-block video=this}}
            {{/each}}
          </div>
        </div>
      {{/if}}
      {{#if settings.show_product_reviews}}
        <div class="accordion-title">
          <a href="#product-reviews" data-scroll="#product-reviews">
            {{lang 'product.reviews_tab_title'}}
            <svg class="icon icon-plus"><use xlink:href="#icon-plus" /></svg>
            <svg class="icon icon-minus"><use xlink:href="#icon-minus" /></svg>
          </a>
        </div>
        <div class="tab-content-panel" id="product-reviews">

          {{{snippet 'reviews'}}}

          <h3 class="product-reviews-title">
            {{lang 'product.reviews.title' numReviews=product.num_reviews}}
          </h3>
          {{#if product.reviews.list.length}}
            <div class="review-items">
              {{#each product.reviews.list}}
                {{> components/products/review-item index=@index}}
              {{/each}}
            </div>

            {{#if product.reviews.list.length '>' 2}}
              <div class="reviews-more-wrap">
                <a class="reviews-show-more-link" href="#">
                  {{lang 'product.reviews.show_more'}}
                  {{> svg/arrow-down}}
                </a>
              </div>
            {{/if}}
          {{else}}
            <h5>{{lang 'product.reviews.no_reviews'}}</h5>
          {{/if}}

          {{> components/products/review-form}}
        </div>
        <svg class="icon icon-spinner"><use xlink:href="#icon-spinner" /></svg>
      </div>
    {{/if}}
  </div> <!-- /.container-small -->
</section>
